<!-- <div class="footer">
    <div class="container">
        <div class="footer-content">
            <p>2019 Jaipur Journey.All Rights Reserved !<br> Designed By Shyam Tailor</p>
        </div>
    </div>
</div> -->


<footer class="footer-sec">
    <div class="main">


        <div class="logo row d-block">
            <div class="footer-header">
                <span>AssignInc</span>
            </div>
            <div class="logo-des">
                <p>We help one and all to produce results oriented content. From Copywriting, Marketing Content, and
                    Academic Writing,
                    Assigninc is your one-stop-shop</p>

                <a href="https://assigninc.xyz/" target='_blank' class="btn-know">Know More</a>
            </div>


        </div>



        <div class="office row">

            <div class="office-des">
                <address>Address: Plot no. 8, Govind Marg, Block-B, Malviya Nagar, Jaipur, Rajasthan 302017</address>

                <a href="#">manikmaity.haker2003@gmail.com</a>

                <p class="num">+91-9999999999</p>
            </div>
        </div>







    </div>
    <div class="copyright">
        <hr>

        <p>© Copyright 2022 AssignInc</p>
    </div>
</footer>