<div class="main__container">
    <div class="login-card">
        <main class="login-content">
            <span class="login-header">Login</span>
            <!-- login form -->
            <span class="message">{{loginMessage}}</span>
            <form class="login-form">
            <input type="email" [(ngModel)]="username" autofocus placeholder="Email" name="email" class="login-input" required>
            <input  type="password" [(ngModel)]="password" placeholder="Password" name="password" class="login-input" minlength="6" required>
            <input type="submit" name="submit"  (click)="login()" value="Login" class="login-btn">
            </form>
            <div class="signup-link-wrapper">
            <span class="signup-notice">Don't have an account?</span>
            <a class="signup-link" href="/register">Sign up</a>
            </div>
        </main>
  
        <!-- linking to signup -->
        <aside class="login-aside">
            <div class="login-aside-overlay"></div>
            <h1 class="login-welcome-text">Welcome Back!</h1>
            <hr class="login-aside-hr">
        </aside>
    </div>
</div>