<!-- <div class="sidebar">
    <a routerLink="/admin/dashboard" routerLinkActive="active" *ngIf="role=='admin'">Dashboard</a>
    <a routerLink="/admin/users" routerLinkActive="active" *ngIf="role=='admin'">Users</a>
    <a routerLink="/admin/alltask" routerLinkActive="active" *ngIf="role=='admin'">Tasks </a>
    <a routerLink="/admin/feedback" routerLinkActive="active" *ngIf="role=='admin'">Feedback</a>
    <a routerLink="/tasks" routerLinkActive="active" *ngIf="role=='not_admin'">Tasks</a>
    <a routerLink="/feedback" routerLinkActive="active" *ngIf="role=='not_admin'">Feedback</a>
    <a routerLink="/messages" routerLinkActive="active" *ngIf="role=='not_admin'">Message</a>
    <a routerLink="/admin/messages" routerLinkActive="active" *ngIf="role=='admin'">Message</a>
    <a (click)="logout()">Logout</a>
</div> -->