.side_box {
    padding-left: 0px;
    padding-left: 0px;
}

.addBtn {
    display: flex;
    flex-direction: row-reverse;
}

.addBtn>button {
    width: 10%;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
}

.times {
    display: flex;
    justify-content: space-around;
}

.table_box {
    overflow-x: scroll;
}

.form-control {
    margin-top: 3%;
    width: 44%;
}

thead {
    background-color: blue !important;
}

mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}